body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color:rgb(194, 215, 233)
}

.nav-menu{
    display: flex;
    gap: 1rem;
    background-color: rgb(14, 102, 225);
    color:aliceblue;
    justify-content: space-between;
    padding: 1rem 2rem;
    gap: 1rem;
    
}

.nav-url{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    font-weight: bold;

    
}

.nav-url a{
     color:aliceblue;
     text-decoration: none;
     font-size: 1rem
}

.nav-url a:hover{
    color: red
}

/* nav-social-link */

.nav-social-link{
    display: flex;
    gap: 1.5rem;
    /* padding: 1rem; */
    align-items: center;
    font-size: 1.5rem;
    margin-left: 20rem;
}

.nav-social-link a{
    color: white;
   
}

.logo-advert{
    display:flex;
    justify-content: space-between;
    margin: 2rem
}

.logo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
    flex: 1 1 300px; 
    
}


.logo-image img {
    max-width: 80px; 
    height: auto;
}

.advert{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(31, 112, 241);
    margin-top: 1rem;
    border-color: rgb(243, 237, 237);
    border-style: solid;
    color: white;
    flex: 1 1 200px;
}

.inner-2{
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: white;
    font-weight: bold;
    border-radius: 2rem;
}

.inner-2:hover{
    color:red;
    cursor:pointer
}

.meainBar-search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 1rem 2rem;
    background-color: rgb(7, 7, 7);
    gap: 1 rem
    
}
.meainBar-search a{
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    align-items: center;  
}

.mainBar a:hover{
    background-color: #ff0000;
    padding: 1rem;

}

.main-content{
    display: flex;
    justify-content: space-between;
    
   
}

.main-content{
    display: flex;
    justify-content: space-around;   
    text-align: center;
    font-size: 1rem;
    gap: 1.5rem
    
    
}

.layer-1{
    background-color: white;
    margin-right: 9rem;
    margin: 0rem;
    padding: 1rem;

    
    
}

.button-icon-text{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    gap: 2rem;
}

.layer-1 img{
    width: 100%;
    height: auto;
    
}

.icon-text-image-1, .icon-text-image-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    
  

}