*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

body{
    background-color:rgb(36, 33, 33);
    color:white;
     font-size:25px;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:2rem;
}

nav ul{
    list-style:none;
    display:flex;
    gap: 2rem
}

nav a{
    text-decoration:none;
    color: white;
    transition:0.3s
}

nav a:hover{
    color:#F25A29
}

.menu-bar{
    display:none;
    flex-direction: column;
    cursor:pointer;
    gap: 4px

}

.menu-bar span{
    width: 30px;
    height: 4px;
    background-color: red;
    border-radius:3px
   
    
}

.intro{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:4rem

}

.intro, .services-about{
    flex-wrap:wrap;
}

.intro h1 span{
    color:#F25A29
}

.img img{
    width:30rem;
    border-radius:50%
}
.button{
    margin-top: 2rem;
    display:flex;
    gap:2rem;
    align-items:center;
    padding:4rem;
    justify-content:center;
}

.project-btn {
    padding: 2rem;
    background-color:#F25A29;
    border:none;
    color:white;
    cursor:pointer;
}
.project-btn:hover{
    background-color:transparent;
    border:3px solid #F25A29;
}

.resume-btn{
    padding:2rem;
    background-color:transparent;
    border:3px solid #F25A29;
    color:white;
    cursor:pointer;

}

.resume-btn:hover{
    background-color:#F25A29
}

.services-about{
    justify-content:space-around;
    display:flex;
}

.services{
    display:flex;
    justify-content:space-between;
}

.service-text{
    text-align:center;
    justify-content:space-between;
    margin:1rem;
    line-height:2rem;
}


.about p{
    max-width: 550px;
    line-height: 1rem;
    margin-top:1rem;
}

.number-count{
    display:flex;
    gap:2rem;
    margin-top: 3rem;
    justify-content:space-around;
    text-align:center;
}

.number-count h3{
    color:#F25A29;
    font-size:2rem;
}


/* desktop response */
@media (max-width: 1200px) {
    .intro {
        flex-direction: row;
        text-align: left;
    }

    .img img {
        width: 25rem;
    }
}

/* tablet response */
@media (max-width: 900px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .intro {
        flex-direction: column;
        text-align: center;
    }

    .img img {
        width: 20rem;
        margin-top: 2rem;
    }

    .services-about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* mobile  response*/
@media (max-width: 600px) {
    body {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    .intro {
        padding: 1rem;
    }

    .img img {
        width: 15rem;
    }

    .button {
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
    }

    .number-count {
        flex-direction: column;
        gap: 1.5rem;
    }
}

/* menu bar  */
@media(max-width: 768px){
    
    .menu-bar{
        display:flex;

    }
    .nav-link{
        display:none;
        flex-direction:column;
        background-color:#9a3b1c;
        width:40%;
        padding:15px;
        margin-top:3px
    }

    .nav-link.show{
        display: flex;
    }

    .nav-link li a{
        padding: 10px;
        font-size: 17px
    }
}

